.trending_now {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 146px;
  margin-bottom: 16px;
  padding-right: 16px;

  &_title {
    color: #ffffff;
    font-size: 32px;
  }

  &_list {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    max-width: 100%;
    @include hideScroll();
  }
}